.cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.cartQtyContainer {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    position: absolute;
}
.cartQty {
    font-size: 1.5rem;
    font-weight: 500;
    color:rgb(103, 121, 224);

}
.cartImageContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;

}
.image-cart {
    width: 40%;
    margin-top: 90px;
}

