.navbar {
    display: flex;
    width: 100%;
}
.navbar-nav {
    display: flex; 
    background-color: rgb(120, 123, 131);
    width: 100%;
    justify-content: flex-start;
    flex: 1;
}
.wrapper {
    width: fit-content;

}

.navbar Link {
    width: 100%;
}    
.brand-image {
    width: 20%;
    border-radius: 10px;
}
.navbar__ul {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: auto; 
}

.itemNavbar {
    list-style: none;
    text-align: top;
    text-decoration: none;
} 
.nav-link {
    text-decoration: none;
    color: red;
}
.itemNavbar i {
    padding: auto;
    font-weight: 800;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    color:rgb(47, 88, 73);
    justify-content: center;
}

.nav-title {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(86, 24, 199);
    margin-top: 20px;
    text-decoration: none;
    
}
.itemNavbar:hover .nav-title {
    color: orange;
    text-shadow: rgb(194, 62, 22) 2px 2px;
} 