.navbar {
    display: flex;
    flex-direction: row;
    
}
.navbar-brand{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}
.brand-image {
    width: 30%;
}
.navbar__ul {
    display: flex; 
    justify-content: space-between;
    flex: 1;
    align-items: center;

}
.itemNavbar {
    list-style: none;
}
.nav-link {
    text-decoration: none;
}

.menu-image {
    width: 50px;
    height: 125px;
}
