.navbar {
    display: flex;
    width: 100%;
    
}
.navbar-brand{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}
.brand-image {
    width: 30%;
}
.navbar__ul {
    display: flex; 

}
.itemNavbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
